.card {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50px;
    min-width: 300px;
    max-width: 320px;
    text-align:center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--primary-white);
    display: inline-block;

}
.reviews-wrapper{
    background-color: white;
}

#name-field {
    width: 200px;
    margin-right: 50px;
    margin-left: 5px;

}
#review-field {
    width: 400px;
    height: 200px;
    margin-right: 50px;
    margin-left: 5px;

}

.form-group {
    padding: 10px;
}

#review-button {
    background-color: var(--primary-cyan);
    border: var(--primary-cyan);
}

#update-button {
    background-color: var(--primary-cyan);
    border: var(--primary-cyan);
}

#delete-button {
    background-color: var(--primary-dark-grey);
    border: var(--primary-dark-grey);
}