.card {
    padding-top: 10px;
    padding-bottom: 10px;
    float:center;
    width: 50px;
    min-width: 300px;
    max-width: 320px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: var(--primary-white);
}
.reviews-wrapper{
    background-color: white;
}
