@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: 'Roboto Condensed';
}
:root {
  --primary-white: #fff;
  --primary-cyan: #01EFD1;
  --primary-dark-grey: #5A5A5A;

}

